In [53]:
from random import seed
from random import randint

def randomDataFrom():
    newList = np.random.randn(1*10) * 10
    newDict = {}
    newDict['Numbers'] = newList
    print(newDict)
    return pd.DataFrame(newDict)

In [54]:
randomDataFrom()

{'Numbers': array([  6.867506  ,  19.99167611,  -1.88448338,  11.59698639,
        -4.28716214,   0.86775645,   0.81179323,  -6.80005359,
        10.90932943, -16.90712032])}

     Numbers
0   6.867506
1  19.991676
2  -1.884483
3  11.596986
4  -4.287162
5   0.867756
6   0.811793
7  -6.800054
8  10.909329
9 -16.907120